{
	"presets": [
		[
			"@babel/env",
			{
				"modules": "commonjs",
				"targets": {
					"node": "current",
					"chrome": 66,
					"firefox": 60
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"add-module-exports",
		"@babel/plugin-syntax-import-meta",
		"syntax-dynamic-import",
		"@babel/plugin-proposal-export-default-from",
		[
			"@babel/plugin-proposal-decorators",
			{ "decoratorsBeforeExport": true, "legacy": false }
		],
		[
			"transform-imports",
			{
				"@material-ui/core": {
					// Use "transform: '@material-ui/core/${member}'," if your bundler does not support ES modules
					"transform": "@material-ui/core/esm/${member}",
					"preventFullImport": true
				},
				"@material-ui/icons": {
					// Use "transform: '@material-ui/icons/${member}'," if your bundler does not support ES modules
					"transform": "@material-ui/icons/esm/${member}",
					"preventFullImport": true
				}
			}
		]
	]
}
