
#messageList {
	height: 100%;
	/* position: absolute; */
	overflow-y: auto;
	border-radius: 8px;
}

#messageList > div {
	/* background-color: #EEE; */
	background-color: #FF3C2855;
}

#messageList > div:nth-child(odd) {
	/* background-color: #DDD; */
	background-color: #0AB9E655;
}
