.registerContainer {
	display: flex;
	flex-direction: row;
	padding: 30px;
}

.createAnAccount {
	display: flex;
	flex-direction: column;

}

.connectAnAccount {
	display: flex;
    justify-content: center;
    flex-direction: column;
}
