body {
	/* 	font: 13px Helvetica, Arial; */
	font-family: "Roboto", sans-serif !important;
	margin: 0;
	padding: 1%;
	/* 	overflow: hidden; */
	width: 100%;
	height: 100%;
}

/* hide the scrollbar */

/* ::-webkit-scrollbar {
display: none;
} */

.hideScrollbar {
	overflow: hidden;
}

html, body {
	margin: 0;
	/* height: 100%; */
	height: auto;
}

#twitchVideo {
	/*   position: absolute; */
	/*   top: 0; */
	/*   right: 0; */
	width: 73.2%;
	/* margin-left: 13.4%; */
}

#playersContainer {
	margin-bottom: 10px;
}

#players {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* 	margin-bottom: 20px; */
	overflow-x: hidden;
}

.player {
	overflow-x: hidden;
}

.collapsibleContainer {
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	min-height: 37px;
}

.progress {
	background-color: #212121 !important;
	margin-bottom: 2px !important;
}

.playerCheckbox {
	/* 	margin-left: auto;
margin-right: auto; */
	margin-left: 25%;
	margin-bottom: 8px;
}

/* .playerCheckbox:last-of-type { */

#wiiUPlayerCheckbox {
	/* 	margin-left: 40%; */
}

.joinQueue {
	width: 100%;
	height: fit-content;
}

.leaveQueue {
	width: 100%;
	height: fit-content;
}

.player {
	display: flex;
	flex-wrap: wrap;
	width: 30%;
	height: min-content;
	padding: 0.2%;
	justify-content: center;
}

.turnTimerBar {
	width: 100%;
	height: 30px !important;
	align-self: center;
	margin-bottom: 2px !important;
	margin-top: 5px;
	border: 2px solid #333;
}

.turnTimerBarChild {
	line-height: 27px;
}

.forfeitTimerBar {
	width: 100%;
	height: 20px !important;
	align-self: center;
	border: 2px solid #333;
}

.forfeitTimerBarChild {
	line-height: 15px !important;
}

#barUnderTheStream {
	display: flex;
	flex-direction: column;
	min-height: 125px;
	padding: 20px;
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/*     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); */
	/*     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); */
	text-align: center;
	border-radius: 4px;
}

#controls {
	max-height: 500px;
	overflow-y: scroll;
}

#timer {
	margin: 0;
	padding: 0;
	width: 185px;
	height: 30px;
	overflow: hidden;
	align-self: center;
}

#speedrunTimer {
	margin: 0;
	padding: 0;
	height: 30px;
	overflow: hidden;
	align-self: center;
}

/* tabs */

.nav-tabs>li>a {
	/* 	background-color: #cccccc; */
}

.nav-tabs {
	/* 	border: none !important; */
}

#currentPlayer {
	padding-top: 10px;
	padding-bottom: 20px;
}

#container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: auto;
	padding: 0;
	flex-wrap: wrap;
	border-radius: 4px;
}

#description {
	text-align: center;
	/* 	width: 50%; */
}

#picture {
	display: flex;
	flex-direction: column;
	/* 	width: 100%; */
	width: 75%;
	/* 	flex-grow: 1; */
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	border-radius: 4px;
	border-bottom: none;
	border-right: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* #chat {
	flex-grow: 1;
} */

#chatContainer {
	width: 25%;
	/* 	min-width: 340px; */
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	margin-top: -42.2px;
	border-radius: 4px;
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

/* LOGGED IN INDICATOR */

#loggedInIndicator {
	width: 100%;
/* 	border: 1px solid #888;
	border-radius: 5px; */
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#loggedInStatus {
	width: 100%;
	border-radius: 4px;
	text-align: center;
	display: flex;
	justify-content: center;
	/* 	overflow-x: hidden; */
	overflow-y: visible;
	margin: 5px;
}

#loggedInContainer {
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	border-top: none;
	border-left: none;
	border-right: none;
	min-height: 42.2px;
	border-bottom-left-radius: 0;
}

#usernameDropdown {
	align-self: center;
	background: transparent;
}

.connectWithContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 48%;
	margin-top: 4px;
	margin-bottom: 4px;
}

.connectWithButton {
	display: flex;
	align-self: center;
	justify-content: space-evenly;
	border: 1px solid #888;
	border-radius: 5px;
	box-shadow: 1px 1px 1px grey;
	text-decoration: none !important;
	color: #282828;
	white-space: nowrap;
	min-height: 40px;
	width: 100%;
	cursor: pointer;
}

.connectWithButton>* {
	display: flex;
	align-self: center;
	color: #282828;
	/* 	max-width: 150px; */
	/* 	padding: 6px; */
}

#twitchLogo {
	/* 	width: 80px; */
	/* 	filter: drop-shadow(3px 3px 2px #333); */
	width: 60px;
	margin-left: 10px;
	margin-right: 10px;
	/*     width: 50px;
margin-left: 5px;
margin-right: 5px; */
	/* 	width: 50px; */
}

#googleLogo {
	width: 80px;
}

#ytLogo {
	width: 80px;
}

#discordLogo {
	width: 80px;
}

#connectWithTwitch {}

#connectWithTwitchButton {}

#connectWithYoutube {}

#connectWithGoogle {}

#connectWithDiscord {}

/* CONNECT WITH GOOGLE BUTTON */

#googleConnectButton {
	display: flex;
	justify-content: space-evenly;
/* 	background: white; */
	color: #444;
	/* 	width: 80px; */
	width: 75px;
	margin-left: 0px;
	margin-right: 5px;
	white-space: nowrap;
}

#googleConnectButton:hover {
	cursor: pointer;
}

span.googleLabel {
	font-family: serif;
	font-weight: normal;
}

span.googleIcon {
	background: url(/images/g-transparent.png) transparent 0px 50% no-repeat;
	width: 32px;
	height: 32px;
}

span.googleButtonText {
	display: flex;
	align-self: center;
	font-size: 14px;
	font-weight: bold;
	/* Use the Roboto font that is loaded in the <head> */
	font-family: "Roboto", sans-serif;
}

#logout {
	width: 30%;
}

/* VIDEO CONTAINERS */

/* LAGLESS */

/* .lagless {
display: flex;
flex-direction: column;
} */

.laglessView {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	margin-left: 20px;
    margin-right: 20px;
	text-align: center;
}

.videoCanvas {
	/* width: 75%; */
	/* margin-left: 12.5%; */
	width: 73.2%;
	align-self: center;
}

.largescreen {
	width: 100% !important;
}

#videoCanvas3 {
	align-self: unset;
	/* width: unset; */
	/* height: unset; */
}


.laglessBar {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
	width: 80%;
	min-width: min-content;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 5px;
}

.laglessViewerCount {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
	padding: 10px;
}

.laglessRefresh {
	align-self: center;
}

.keyboardMapper {
	align-self: center;
}

.tunnel {
	/*   overflow: visible; */
	height: 100%;
}

#namesList {
	width: 80%;
	height: 100px;
	overflow: auto;
}

ul {
	text-align: left;
}

/* STREAM SETTINGS */

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-top: 10px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	/* 	background: #4CAF50; */
	background: #606060;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

#streamSettings {
	text-align: center;
}

.sliderContainer {
	/* 	width: 75%; */
	margin: 0 auto;
	padding: 5px;
}

.container3 {
	width: 100%;
	/*     overflow-y: scroll; */
	display: flex;
	justify-content: space-evenly;
}

.three {
	width: 40%;
}

.four {
	width: 40%;
	/* 	height: 100%; */
}

#settingsContainer {
	padding: 2px;
}

#settings {
	width: 100%;
	margin: auto;
	padding: 0;
	overflow-y: hidden;
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
	/* 	padding-top: 40px; */
	padding-bottom: 20px;
}

#checkboxSettings {
	/* 	width: 25%; */
	min-width: 250px;
	padding: 0;
}

#checkboxSettings li {
	padding-left: 35px;
}

#checkboxSettings2 {
	width: 25%;
	padding: 0;
}

#checkboxSettings2 li {
	padding-left: 35px;
	list-style-type: none;
}

.settingsPanel {
	width: 24%;
	/* 	flex-grow: 1; */
	padding: 5px !important;
	border: 1.2px solid #333;
	border-radius: 4px;
}

.laglessSettings {}

#lagless2Settings {
	margin-top: 10px;
}

#lagless3Settings {
	margin-top: 10px;
}

#controlsLabel {
	margin-bottom: 10px;
}

#settingsLabel {
	margin-bottom: 10px;
}

/* test */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* JOYSTICKS */

#jButtons {
	position: relative;
	border: solid 1px #aaa;
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	height: 50px;
	overflow: hidden;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.jButton {
	display: inline-block;
	background: #ccc;
	color: black;
	height: 50px;
	width: 33%;
	margin: 0;
	margin-right: -3px;
	text-align: center;
	line-height: 45px;
	font-size: 25px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jButton:hover {
	background: #eee;
}

.jButton:active {
	background: #ddd;
}

.jButton.active {
	color: white;
	background: #888;
}

.jButton:nth-child(2) {
	width: 34%;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
}

.highlight {
	display: none;
}

.highlight.active {
	display: block;
}

.zone {
	/*   display: none; */
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

.zone.active {
	display: block;
}

.zone>h1 {
	/* 	position: absolute; */
	position: relative;
	padding: 10px 10px;
	margin: 0;
	color: white;
	right: 0;
	bottom: 0;
}

.zone.dynamic {
	background: rgba(0, 0, 255, 0.1);
}

/* TOUCH CONTROLS */

#leftJoyConOther,
#rightJoyConOther {
	color: #FFFFFF;
	text-shadow: 2px 2px 4px #000000;
}

#leftJoyCon {
	background: transparent;
	position: relative;
	width: 13.4%;
}

.highlighted {
	background: rgba(255, 255, 50, 0.2);
}

#leftJoyConImage {
	width: 100%;
}

#leftStick {
	position: absolute;
	/* 	background: rgba(50, 50, 50, 0.2); */
	width: 37%;
	height: 12%;
	left: 34.9%;
	top: 19.8%;
	border-radius: 50%;
}

#leftStick2 {
	position: absolute;
	background: #FF3C28;
	/*#bb5050;*/
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	pointer-events: none;
	border-radius: 50%;
}

.controllerButton {
	background: rgba(50, 50, 50, 0.2);
	/*     width: 30px;
height: 30px; */
	width: 32%;
	height: 32%;
	border: 2px solid #333;
	border-radius: 50%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.highlightedButton {
	background: rgba(80, 187, 80, 0.7);
}

.lessRound {
	border-radius: 10px !important;
}

#dpadButtons {
	position: absolute;
	background: transparent;
	width: 85.25%;
	height: 27.75%;
	left: 10%;
	top: 39%;
}

#upButton {
	position: absolute;
	left: 34.8%;
	top: 9.5%;
}

#downButton {
	position: absolute;
	left: 34.8%;
	top: 62.5%;
}

#leftButton {
	position: absolute;
	left: 7%;
	top: 36%;
}

#rightButton {
	position: absolute;
	left: 63%;
	top: 36%;
}

#minusButton {
	position: absolute;
	left: 66%;
	top: 6%;
	width: 32%;
	height: 9%;
}

#captureButton {
	position: absolute;
	left: 54%;
	top: 67.5%;
	width: 32%;
	height: 9%;
}

#lButton {
	position: absolute;
	left: 1%;
	top: 6%;
	width: 60%;
	height: 6%;
}

#zlButton {
	position: absolute;
	left: 1%;
	top: 0%;
	width: 60%;
	height: 6%;
}

#rightJoyCon {
	background: transparent;
	position: relative;
	width: 13.4%;
}

#rightJoyConImage {
	width: 100%;
}

#rightStick {
	position: absolute;
	/* 	background: rgba(50, 50, 50, 0.2); */
	width: 37%;
	height: 12%;
	left: 28%;
	top: 47.2%;
	border-radius: 50%;
}

#rightStick2 {
	position: absolute;
	background: #0AB9E6;
	/*#5050bb;*/
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
	pointer-events: none;
	border-radius: 50%;
}

#abxyButtons {
	position: absolute;
	background: transparent;
	width: 85.25%;
	height: 27.75%;
	left: 3%;
	top: 12%;
}

#xButton {
	position: absolute;
	left: 35.2%;
	top: 8%;
}

#bButton {
	position: absolute;
	left: 35.2%;
	top: 61%;
}

#yButton {
	position: absolute;
	left: 7.2%;
	top: 34.5%;
}

#aButton {
	position: absolute;
	left: 63.2%;
	top: 34.5%;
}

#plusButton {
	position: absolute;
	left: 1%;
	top: 6%;
	width: 32%;
	height: 9%;
}

#homeButton {
	position: absolute;
	left: 14%;
	top: 67.5%;
	width: 32%;
	height: 9%;
}

#rButton {
	position: absolute;
	left: 40%;
	top: 6%;
	width: 60%;
	height: 6%;
}

#zrButton {
	position: absolute;
	left: 40%;
	top: 0%;
	width: 60%;
	height: 6%;
}

#touchSticks {
	width: 90%;
}

#touchButtons {
	background: rgba(0, 255, 0, 0.2);
	height: 100px;
	width: 100%;
}

.container6 {
	width: 100%;
	margin: auto;
	padding: 0;
}

.nine {
	/* 	width: 40%;
padding: 0;
margin-left: 5%;
float: left; */
}

.ten {
	/* 	margin-left: 55%;
width: 40%; */
}

/* control queue */

.controlQueue {
	overflow-y: auto;
	max-height: 100px;
	text-align: center;
	margin-top: 5px;
	flex-grow: 1;
}

.queueItem {
	cursor: pointer;
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

#controlQueue1 {}

#controlQueue2 {}

#controlQueue3 {}

#controlQueue4 {}

#controlQueues {
	display: flex;
}

.queue {
	display: flex;
	/* flex-direction: column; */
	flex-grow: 1;
	flex-wrap: wrap;
}

/* Dark Theme */

.light {
	background-color: #efeef1 !important;
	color: #000000 !important;
}

.otborder {
	border: 1.2px solid #333;
	border-radius: 4px;
}

.otborder-dark {
	border: 1.2px solid #ccc;
	border-radius: 4px;
}

.dark {
	/* 	background-color: #212121 !important; */
	background-color: #0e0c13 !important;
	color: #ffffff !important;
	/* 	text-shadow: 2px 2px #212121; */
}

.well-dark {
	background-color: #212121;
	border: 2px solid #404040;
	border-radius: 4px;
	min-height: 20px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	padding: 8px;
	/* 	margin-bottom: 20px; */
}

.nav-link-dark {
	display: block;
	padding: .5rem 1rem;
	/* 	background-color: #c6c8ca; */
	text-decoration: none !important;
}

.nav-link-dark.active {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	/* 	background-color: #dddddd; */
	background-color: #484848;
}

.list-group-item-dark {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	/*     background-color: #fff;
border: 1px solid #ddd; */
	background-color: #212121;
	border: 2px solid #404040;
	border-radius: 4px;
}

.list-group-item-dark:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.list-group-item-dark:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.list-group-item-highlight {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	/*     background-color: #fff;
border: 1px solid #ddd; */
	background-color: #c6c6c6;
	border: 2px solid #404040;
	border-radius: 4px;
}

.list-group-item-highlight:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.list-group-item-highlight:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* CONTROLLER VIEW */

#controllerViewCanvas {
	width: 100%;
	height: 30%;
	/* 	min-height: 400px; */
	margin: 0;
	padding: 0;
	background-color: #bb5050;
}

/* check box */

/* https://github.com/Artur-A/Bootstrap-Checkbox/ */

:root {
	/* larger checkbox */
}

/* :root label.checkbox-bootstrap input[type=checkbox] { */

:root .checkbox-bootstrap input[type=checkbox] {
	/* hide original check box */
	opacity: 0;
	position: absolute;
	/* find the nearest span with checkbox-placeholder class and draw custom checkbox */
	/* draw checkmark before the span placeholder when original hidden input is checked */
	/* disabled checkbox style */
	/* disabled and checked checkbox style */
	/* when the checkbox is focused with tab key show dots arround */
}

/* :root label.checkbox-bootstrap input[type=checkbox]+span.checkbox-placeholder { */

:root .checkbox-bootstrap input[type=checkbox]+span.checkbox-placeholder {
	width: 14px;
	height: 14px;
	border: 1px solid;
	border-radius: 3px;
	/*checkbox border color*/
	border-color: #737373;
	display: inline-block;
	cursor: pointer;
	/* 	margin: 0 7px 0 -20px; */
	margin-right: 5px;
	vertical-align: middle;
	text-align: center;
}

/* :root label.checkbox-bootstrap input[type=checkbox]:checked+span.checkbox-placeholder { */

:root .checkbox-bootstrap input[type=checkbox]:checked+span.checkbox-placeholder {
	/*   background: #0ccce4; */
	background: #60bb60;
}

/* :root label.checkbox-bootstrap input[type=checkbox]:checked+span.checkbox-placeholder:before { */

:root .checkbox-bootstrap input[type=checkbox]:checked+span.checkbox-placeholder:before {
	display: inline-block;
	/* 	display: inline-flex; */
	position: relative;
	vertical-align: text-top;
	width: 5px;
	height: 9px;
	/*checkmark arrow color*/
	border: solid white;
	border-width: 0 2px 2px 0;
	/*can be done with post css autoprefixer*/
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
}

/* :root label.checkbox-bootstrap input[type=checkbox]:disabled+span.checkbox-placeholder { */

:root .checkbox-bootstrap input[type=checkbox]:disabled+span.checkbox-placeholder {
	background: #ececec;
	border-color: #c3c2c2;
}

/* :root label.checkbox-bootstrap input[type=checkbox]:checked:disabled+span.checkbox-placeholder { */

:root .checkbox-bootstrap input[type=checkbox]:checked:disabled+span.checkbox-placeholder {
	background: #d6d6d6;
	border-color: #bdbdbd;
}

/* :root label.checkbox-bootstrap input[type=checkbox]:focus:not(:hover)+span.checkbox-placeholder { */

:root .checkbox-bootstrap input[type=checkbox]:focus:not(:hover)+span.checkbox-placeholder {
	outline: 1px dotted black;
}

/* :root label.checkbox-bootstrap.checkbox-lg input[type=checkbox]+span.checkbox-placeholder { */

:root .checkbox-bootstrap.checkbox-lg input[type=checkbox]+span.checkbox-placeholder {
	width: 26px;
	height: 26px;
	border: 2px solid;
	border-radius: 5px;
	/*checkbox border color*/
	border-color: #737373;
}

/* :root label.checkbox-bootstrap.checkbox-lg input[type=checkbox]:checked+span.checkbox-placeholder:before { */

:root .checkbox-bootstrap.checkbox-lg input[type=checkbox]:checked+span.checkbox-placeholder:before {
	width: 9px;
	height: 15px;
	/*checkmark arrow color*/
	border: solid white;
	border-width: 0 3px 3px 0;
}

/* Volume Slider */

/* https://codepen.io/emilcarlsson/pres/PPNLPy */

/*
Copyright (c) 2018 by Emil (https://codepen.io/emilcarlsson/pen/PPNLPy)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.volumeSlider {
	display: flex;
	justify-content: space-evenly;
	width: 30%;
	min-width: 125px;
	border-radius: 10px;
	align-items: center;
	/*     margin-top: 2px; */
	/*     margin-bottom: 2px; */
	/* 	padding-top: 2px; */
	/* 	padding-bottom: 2px; */
}

.volumeSlider i {
	color: #333;
	align-self: center;
	border: 2px solid #333;
	border-radius: 4px;
	padding: 4px;
	cursor: pointer;
}

.fa.fa-volume-down {
	padding-left: 7px;
	padding-right: 7px;
}

.volume {
	height: 5px;
	width: 70%;
	position: relative;
	background: #555;
	border-radius: 15px;
	align-self: center;
}

.volume .ui-slider-range-min {
	height: 5px;
	background: #2ecc71;
	border: none;
	border-radius: 10px;
	outline: none;
}

.volume .ui-slider-handle {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #FFF;
	position: absolute;
	margin-left: -10px;
	margin-top: -12px;
	cursor: pointer;
	outline: none;
}

.volume span {
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* GENERIC SLIDER */

.mysliderContainer {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 50px;
	/* 	padding-top: 24px; */
}

.mysliderContainer i {
	/* 	margin-top: -6px; */
	color: #666;
}

.myslider {
	height: 5px;
	width: 80%;
	position: relative;
	background: #555;
	border-radius: 15px;
	align-self: center;
}

.myslider .ui-slider-range-min {
	height: 5px;
	background: #2ecc71;
	border: none;
	border-radius: 10px;
	outline: none;
}

.myslider .ui-slider-handle {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #FFF;
	position: absolute;
	margin-left: -10px;
	margin-top: -12px;
	cursor: pointer;
	outline: none;
}

/* KEYBOARD CONFIG */

#keyboardConfig {
	display: flex;
	flex-direction: row;
}

#keyboardActions {
	display: flex;
	flex-direction: column;
}

#keyboardMapperContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#keyboardConfigCodes {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
}

#keyboardConfigKeys {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* 	width: 50%;
text-align: right; */
	width: 25%;
	text-align: center;
}

.actionText {}

.buttonConfig {
	height: min-content;
}

/* KEYBOARD PROFILES */

.keyboardDropdown {
	align-self: center;
}

.viewerDropdown {
	align-self: center;
	/* 	width: 100px; */
}

.dropdown-divider {
	height: unset !important;
	border-bottom: 1px solid #e9ecef;
	text-align: center;
}

/* https://stackoverflow.com/questions/42183672/bootstrap-v4-navbar-dropdown-hover */

/* .dropdown:hover > .dropdown-menu {
display: block;
} */

#profileCreator {
	margin-top: 10px;
}

#profileName {
	margin-left: 0 !important;
}

/* KEYBOARD */

#keyboardRemapperInstructions {
	padding: 20px;
	font-size: 20px;
	color: #000000;
}

.modal-title {
	color: #000000;
}

/* TUTORIAL */

/* NAV TABS */

#navTabs {
	justify-content: center;
	flex-wrap: nowrap;
	width: 75%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: none;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
}

.nav-tabs .nav-item {
	width: 150px;
	text-align: center;
	margin-bottom: 0 !important;
}

.nav-tabs .nav-item :not(active) {
	/* 	border: 1px solid #333;
border-top-left-radius: .25rem;
border-top-right-radius: .25rem; */
	border-bottom: 0 !important;
}

.nav-tabs .nav-item :not(.active):not(.disabled):hover {
	background-color: #dddddd;
	border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-item {}

/* STATUS BAR */

#statusContainer {
	display: flex;
	justify-content: space-evenly;
	border-radius: 4px;
	width: 200px;
	margin: 3px;
}

#statusContainer>* {
	align-self: center;
	border: 2px solid #333;
	border-radius: 4px;
	/* 	padding: 3px; */
	cursor: pointer;
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

.genericPopup {
	/* 	background: #60BB60; */
	background: #CCCCCC;
	color: #000000;
	border: 2px solid #333;
	width: 200px;
	height: 120px;
	z-index: 9000;
	border-radius: 15px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.largerPopup {
	/* 	background: #60BB60; */
	background: #CCCCCC;
	color: #000000;
	border: 2px solid #333;
	width: 200px;
	height: 160px;
	z-index: 9000;
	border-radius: 15px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.queuePopup {
	/* 	background: #60BB60; */
	/* 	background: #FFF;
color: #000000;
border: 2px solid #333; */
	width: 200px;
	height: 100px;
	/* 	z-index: 9000;
border-radius: 15px;
margin: 5px;
padding: 5px;
text-align: center; */
}

.navTabPopup {
	/* 	background: #60BB60; */
	background: #CCCCCC;
	color: #000000;
	border: 2px solid #333;
	width: 150px;
	height: 130px;
	z-index: 9000;
	border-radius: 15px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.tooltipArrowUp {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #848484 transparent;
}

.tooltipArrowDown {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: #848484 transparent transparent transparent;
}

.tooltipArrowLeft {
	content: "";
	position: absolute;
	top: 40px;
	right: 100%;
	margin-left: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent #848484 transparent transparent;
}

.tooltipArrowRight {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	margin-left: 0px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent transparent #848484;
}

/* .tooltip:hover .tooltiptext {
visibility: visible;
} */

/* BOOTSTRAP 3/4 COMPATIBILITY */

.well {
	min-height: 20px;
	padding: 8px;
	/*     margin-bottom: 20px; */
	/* 	background-color: #f5f5f5; */
	background-color: #efeef1;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

/* SPLITS */

#splitMetaContainer {
	display: flex;
	flex-direction: column;
	width: max-content;
}

#splitContainer {
	display: flex;
	flex-direction: row;
	width: max-content;
}

#splitNames {
	display: flex;
	flex-direction: column;
	margin: 0;
}

#splitTimes {
	display: flex;
	flex-direction: column;
	margin: 0;
}

/* MISC */

.contents {
	display: contents;
}

.collapse:not(.show) {
	display: none !important;
}

.well2 {
	padding: 0 !important;
	margin: 0 !important;
}

.click-passthrough {
	pointer-events: none;
}

.snex-react-connect {
	width: 180px;
    font-size: 15;
}
.snex-react-connect > div:first-child {
	height: 41px !important;
}

/* @include media-breakpoint-between(xs,sm) {
.btn {
@include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
}
} */

/* .collapseButtonContainer {
width: min-content;
align-self: center;
} */

.collapseButton {
	/* 	width: 5%; */
	height: 30px;
	line-height: 15px !important;
	/* 	font-size: 20px !important; */
	position: absolute;
	margin-top: 2px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.buttonSettings {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* 	font-size: 13px; */
}

label {
	/* 	display: flex !important; */
	/* 	margin-bottom: 0; */
}

.laglessBar > .checkbox-inline {
	margin-bottom: 0;
	display: flex;
	align-self: center;
	min-width: 100px;
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 6px;
}

/* SWEET ALERT */

.swal-wide {
	width: 1000px !important;
}

/* RAINBOW TEXT */

@keyframes rainbow-text {
	0% {
		color: #e87d7d;
	}
	2% {
		color: #e88a7d;
	}
	4% {
		color: #e8977d;
	}
	6% {
		color: #e8a47d;
	}
	8% {
		color: #e8b07d;
	}
	10% {
		color: #e8bd7d;
	}
	12% {
		color: #e8ca7d;
	}
	14% {
		color: #e8d77d;
	}
	16% {
		color: #e8e47d;
	}
	18% {
		color: #dfe87d;
	}
	20% {
		color: #d3e87d;
	}
	22% {
		color: #c6e87d;
	}
	24% {
		color: #b9e87d;
	}
	26% {
		color: #ace87d;
	}
	28% {
		color: #9fe87d;
	}
	30% {
		color: #92e87d;
	}
	32% {
		color: #86e87d;
	}
	34% {
		color: #7de881;
	}
	36% {
		color: #7de88e;
	}
	38% {
		color: #7de89b;
	}
	40% {
		color: #7de8a8;
	}
	42% {
		color: #7de8b5;
	}
	44% {
		color: #7de8c1;
	}
	46% {
		color: #7de8ce;
	}
	48% {
		color: #7de8db;
	}
	50% {
		color: #7de8e8;
	}
	52% {
		color: #7ddbe8;
	}
	54% {
		color: #7dcee8;
	}
	56% {
		color: #7dc1e8;
	}
	58% {
		color: #7db5e8;
	}
	60% {
		color: #7da8e8;
	}
	62% {
		color: #7d9be8;
	}
	64% {
		color: #7d8ee8;
	}
	66% {
		color: #7d81e8;
	}
	68% {
		color: #867de8;
	}
	70% {
		color: #927de8;
	}
	72% {
		color: #9f7de8;
	}
	74% {
		color: #ac7de8;
	}
	76% {
		color: #b97de8;
	}
	78% {
		color: #c67de8;
	}
	80% {
		color: #d37de8;
	}
	82% {
		color: #df7de8;
	}
	84% {
		color: #e87de4;
	}
	86% {
		color: #e87dd7;
	}
	88% {
		color: #e87dca;
	}
	90% {
		color: #e87dbd;
	}
	92% {
		color: #e87db0;
	}
	94% {
		color: #e87da4;
	}
	96% {
		color: #e87d97;
	}
	98% {
		color: #e87d8a;
	}
	100% {
		color: #e87d7d;
	}
}

.rainbow-text {
	animation: rainbow-text 3s infinite;
}

.rainbow-text2 {
	font-family: "Bangers", cursive;
	letter-spacing: 0px;
	text-shadow: 3px 3px 120px rgba(255, 255, 255, .65), 2px 2px 2px rgba(255, 255, 255, .5);
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
