body {
	font: 13px Helvetica, Arial;
	padding: 1%;
	/* 	position: fixed; */
	margin: 0;
	/* 	overflow: hidden; */
	width: 100%;
	height: 100%;
}

html {
	height: 100%;
}

#twitchvideo {
	/*   position: absolute; */
	/*   top: 0; */
	/*   right: 0; */
    width: 73.2%;
    margin-left: 13.4%;
}

#timerBars {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}

#player1TimerBars {
	display: flex;
	flex-flow: column;
	width: 40%;
}

#player2TimerBars {
	display: flex;
	flex-flow: column;
	width: 40%;
}

.turnTimerBar {
	width: 100%;
	height: 30px !important;
	align-self: center;
	margin-bottom: 2px !important;
	border: 2px solid #333;
}

.turnTimerBarChild {
	line-height: 27px;
}

.forfeitTimerBar {
	width: 100%;
	height: 20px;
	align-self: center;
	margin-bottom: 20px;
	border: 2px solid #333;
}

.forfeitTimerBarChild {
	line-height: 15px !important;
}

#barUnderTheStream {
	display: inline-flex;
	flex-flow: column;
	min-height: 125px;
	padding: 20px;
	width: 100%;
}

#controls {
	max-height: 500px;
	overflow-y: scroll;
}

#timer {
	padding: 0;
	margin: 0;
	width: 190px;
	height: 50px;
	overflow: hidden;
	margin-left: auto;
}

#speedrunTimer {
	padding: 0;
	margin: 0;
	width: 190px;
	height: 50px;
	overflow: hidden;
	margin-left: auto;
}

/* tabs */

.nav-tabs>li>a {
	/* 	background-color: #cccccc; */
}

#currentPlayer {
	padding-top: 10px;
	padding-bottom: 20px;
}

#chat {
	/* 	position: absolute;
top: 10%;
right: 0; */
	/* 	min-width: 200px;
max-width: 500px; */
	/* 	width: 300px; */
	min-width: 250px;
	/* 	width: 30%; */
	height: 100%;
	/* 	max-height: 900px; */
	padding: 20px;
	background: #AAAAAA;
	/* 	margin-right: 0; */
	/* 	margin-left: 0; */
}

#messages {}

#messageList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 90%;
	border: 3px solid black;
	/* 	border-style: dotted; */
}

#messageList li {
	padding: 5px 10px;
	opacity: .9;
	/* 	height: 50px; */
	max-width: 500px;
	overflow: auto;
	max-height: 50px;
	word-wrap: break-word;
}

#messageList li:nth-child(odd) {
	background: #eee;
}

#messageList li:nth-child(even) {
	background: #ccc;
}

#chatForm {
	width: 100%;
	height: 7%;
	background: #000;
}

#msgInput {
	border: none;
	padding: 0;
	margin: 0;
	/* 	background: #FFF; */
	width: 70%;
	height: 100%;
}

#sendButton {
	/* 	background: rgb(130, 224, 255); */
	border: none;
	width: 25%;
	height: 100%;
}

#container {
	display: flex;
	flex-flow: row;
}

#description {
	text-align: center;
	/* 	width: 50%; */
}

.container2 {
	width: 100%;
	margin: auto;
	padding: 0;
}

#picture {
	width: 75%;
	padding: 1%;
	margin: 0;
}

#twitchChat {
	height: 100%;
	min-height: 500px;
	/* 	width: 25%; */
	flex-grow: 1;
}

/* VIDEO CONTAINERS */

/* LAGLESS1 */

#lagless1Container {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

#lagless1View {
	display: inline-flex;
	flex-flow: row;
	justify-content: start;
	position: relative;
}

#lagless1Bar {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
	width: 75%;
}

#lagless1ViewerCount {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
}

#videoCanvas1 {
	width: 75%;
	margin-left: 12.5%;
	align-self: center;
}

#screen {
	width: 75%;
	margin-left: 12.5%;
}

#screenshot {
	/* 	width: 75%; */
	width: 100%;
	/* 	height: auto; */
}

/* LAGLESS2 */

#lagless2Container {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

#lagless2View {
	display: inline-flex;
	flex-flow: row;
	justify-content: start;
	position: relative;
}

#videoCanvas2 {
	width: 75%;
	margin-left: 12.5%;
	align-self: center;
}

#lagless2Bar {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
	width: 75%;
}

#lagless2ViewerCount {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
}

#lagless2VolumeSlider {
	margin-left: auto;
}

/* LAGLESS3 */

#lagless3Container {
	text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#lagless3View {
	display: inline-flex;
	flex-flow: row;
	justify-content: start;
	position: relative;
}

#videoCanvas3 {
	width: 75%;
	margin-left: 12.5%;
	align-self: center;
}

#lagless3Bar {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
	width: 75%;
}

#lagless3ViewerCount {
	display: flex;
	justify-content: space-evenly;
	align-self: center;
}

.tunnel {
	/*   overflow: visible; */
	height: 100%;
}

#namesList {
	width: 80%;
	height: 100px;
	overflow: auto;
}

ul {
	text-align: left;
}

/* KEYBOARD CONFIG */

#keyboardLayoutConfig {
	margin-top: 5px;
	margin-left: 5px;
	border: 1px solid red;
	width: 40%;
	/* 	height: 50%; */
	/*display: inline-block;
text-align: right;*/
	/*position: fixed;*/
	/*top: 10px;
left: 10px;*/
}

.actionText {
	width: 50%;
	/*left: 0;
margin: 5px 0;*/
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	background-color: #888;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	font-weight: bold;
	/*font-size: 20px;*/
	color: #333;
}

.buttonConfig {
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	/*right: 0;
position: absolute;
margin: 5px 0;*/
	height: 50px;
	width: 50px;
	background-color: #888;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	font-weight: bold;
	/*font-size: 20px;*/
	color: #333;
}

/* STREAM SETTINGS */

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-top: 10px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	/* 	background: #4CAF50; */
	background: #606060;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

#streamSettings {
	text-align: center;
}

.sliderContainer {
	width: 75%;
	margin: 0 auto;
	padding: 5px;
}

.container3 {
	width: 100%;
	margin: auto;
	padding: 2%;
	overflow-y: scroll;
	display: inline-flex;
	justify-content: space-evenly;
}

.three {
	width: 40%;
}

.four {
	width: 40%;
	height: 100%;
}

.container4 {
	width: 100%;
	margin: auto;
	padding: 0;
	overflow-y: hidden;
	display: inline-flex;
	justify-content: space-evenly;
}

.five {
	width: 40%;
	padding: 0;
}

.six {
	width: 40%;
}

#controlsLabel {
	margin-bottom: 10px;
}

#settingsLabel {
	margin-bottom: 10px;
}

/* test */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* JOYSTICKS */

#jButtons {
	position: relative;
	border: solid 1px #aaa;
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	height: 50px;
	overflow: hidden;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.jButton {
	display: inline-block;
	background: #ccc;
	color: black;
	height: 50px;
	width: 33%;
	margin: 0;
	margin-right: -3px;
	text-align: center;
	line-height: 45px;
	font-size: 25px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jButton:hover {
	background: #eee;
}

.jButton:active {
	background: #ddd;
}

.jButton.active {
	color: white;
	background: #888;
}

.jButton:nth-child(2) {
	width: 34%;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
}

.highlight {
	display: none;
}

.highlight.active {
	display: block;
}

.zone {
	/*   display: none; */
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

.zone.active {
	display: block;
}

.zone>h1 {
	/* 	position: absolute; */
	position: relative;
	padding: 10px 10px;
	margin: 0;
	color: white;
	right: 0;
	bottom: 0;
}

.zone.dynamic {
	background: rgba(0, 0, 255, 0.1);
}

/* TOUCH CONTROLS */

#leftJoyConOther, #rightJoyConOther {
	color: #FFFFFF;
	text-shadow: 2px 2px 4px #000000;
}


#leftJoyCon {
	width: 12.5%;
	height: 100%;
	position: absolute;
}

.highlighted {
	background: rgba(255, 255, 50, 0.2);
}

#leftJoyConCanvas {
	width: 100%;
	height: 100%;
	/*     background: rgba(0, 0, 255, 0.2); */
	position: absolute;
	left: 0;
	top: 0;
}

#leftStick {
	position: absolute;
	/* 	background: rgba(50, 50, 50, 0.2); */
	width: 40%;
	height: 12%;
	left: 33%;
	top: 20%;
}

#leftStick2 {
	position: absolute;
	background: #FF3C28;/*#bb5050;*/
	width: 20%;
	height: 6%;
	left: 43%;
	top: 23%;
	pointer-events: none;
	border-radius: 50%;
}

.controllerButton {
	background: rgba(50, 50, 50, 0.2);
	/*     width: 30px;
height: 30px; */
	width: 32%;
	height: 32%;
	border: 2px solid #333;
}

#dpadButtons {
	position: absolute;
	/* 	background: rgba(50, 50, 50, 0.2); */
	width: 85.25%;
	height: 27.75%;
	left: 10%;
	top: 39%;
}

#upButton {
	position: absolute;
	left: 36%;
	top: 5%;
}

#downButton {
	position: absolute;
	left: 36%;
	top: 65%;
}

#leftButton {
	position: absolute;
	left: 5%;
	top: 35%;
}

#rightButton {
	position: absolute;
	left: 66%;
	top: 35%;
}

#minusButton {
	position: absolute;
	left: 66%;
	top: 6%;
	width: 32%;
	height: 9%;
}

#captureButton {
	position: absolute;
	left: 54%;
	top: 67.5%;
	width: 32%;
	height: 9%;
}

#lButton {
	position: absolute;
	left: 1%;
	top: 6%;
	width: 60%;
	height: 6%;
}

#zlButton {
	position: absolute;
	left: 1%;
	top: 0%;
	width: 60%;
	height: 6%;
}

#rightJoyCon {
	width: 12.5%;
	height: 100%;
	position: absolute;
	margin-left: 87.5%;
}

#rightJoyConCanvas {
	width: 100%;
	height: 100%;
	/*     background: rgba(255, 0, 0, 0.2); */
	position: absolute;
	left: 0;
	top: 0;
}

#rightStick {
	position: absolute;
	/* 	background: rgba(50, 50, 50, 0.2); */
	width: 40%;
	height: 12%;
	left: 26%;
	top: 47%;
}

#rightStick2 {
	position: absolute;
	background: #0AB9E6;/*#5050bb;*/
	width: 20%;
	height: 6%;
	left: 36.5%;
	top: 50%;
	pointer-events: none;
	border-radius: 50%;
}

#abxyButtons {
	position: absolute;
	/* 	background: rgba(50, 50, 50, 0.2); */
	width: 85.25%;
	height: 27.75%;
	left: 3%;
	top: 12%;
}

#xButton {
	position: absolute;
	left: 36%;
	top: 5%;
}

#bButton {
	position: absolute;
	left: 36%;
	top: 65%;
}

#yButton {
	position: absolute;
	left: 5%;
	top: 35%;
}

#aButton {
	position: absolute;
	left: 66%;
	top: 35%;
}

#plusButton {
	position: absolute;
	left: 1%;
	top: 6%;
	width: 32%;
	height: 9%;
}

#homeButton {
	position: absolute;
	left: 14%;
	top: 67.5%;
	width: 32%;
	height: 9%;
}

#rButton {
	position: absolute;
	left: 40%;
	top: 6%;
	width: 60%;
	height: 6%;
}

#zrButton {
	position: absolute;
	left: 40%;
	top: 0%;
	width: 60%;
	height: 6%;
}

#touchSticks {
	width: 90%;
}

#touchButtons {
	background: rgba(0, 255, 0, 0.2);
	height: 100px;
	width: 100%;
}

.container6 {
	width: 100%;
	margin: auto;
	padding: 0;
}

.nine {
	/* 	width: 40%;
padding: 0;
margin-left: 5%;
float: left; */
}

.ten {
	/* 	margin-left: 55%;
width: 40%; */
}

/* control queue */

#controlQueue1 {
	overflow-y: auto;
	max-height: 200px;
	text-align: center;
	margin-top: 5px;
}

#controlQueue2 {
	overflow-y: auto;
	max-height: 200px;
	text-align: center;
	margin-top: 5px;
}

#controlQueues {
	display: flex;
}

.queue {
	display: flex;
	flex-flow: column;
	width: 50%;
}

/* Dark Theme */

.dark {
	background-color: #212121;
	color: #ffffff;
	/* 	text-shadow: 2px 2px #212121; */
}

.well-dark {
	background-color: #212121;
	border: 2px solid #404040;
	border-radius: 4px;
	min-height: 20px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	padding: 19px;
	margin-bottom: 20px;
}

.list-group-item-dark {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	/*     background-color: #fff;
border: 1px solid #ddd; */
	background-color: #212121;
	border: 2px solid #404040;
}

.list-group-item-dark:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.list-group-item-dark:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* CONTROLLER VIEW */

#controllerViewCanvas {
	width: 100%;
	height: 30%;
	/* 	min-height: 400px; */
	margin: 0;
	padding: 0;
	background-color: #bb5050;
}

/* check box */

/* https://github.com/Artur-A/Bootstrap-Checkbox/ */

:root {
	/* larger checkbox */
}

:root label.checkbox-bootstrap input[type=checkbox] {
	/* hide original check box */
	opacity: 0;
	position: absolute;
	/* find the nearest span with checkbox-placeholder class and draw custom checkbox */
	/* draw checkmark before the span placeholder when original hidden input is checked */
	/* disabled checkbox style */
	/* disabled and checked checkbox style */
	/* when the checkbox is focused with tab key show dots arround */
}

:root label.checkbox-bootstrap input[type=checkbox]+span.checkbox-placeholder {
	width: 14px;
	height: 14px;
	border: 1px solid;
	border-radius: 3px;
	/*checkbox border color*/
	border-color: #737373;
	display: inline-block;
	cursor: pointer;
	margin: 0 7px 0 -20px;
	vertical-align: middle;
	text-align: center;
}

:root label.checkbox-bootstrap input[type=checkbox]:checked+span.checkbox-placeholder {
	/*   background: #0ccce4; */
	background: #60bb60;
}

:root label.checkbox-bootstrap input[type=checkbox]:checked+span.checkbox-placeholder:before {
	display: inline-block;
	position: relative;
	vertical-align: text-top;
	width: 5px;
	height: 9px;
	/*checkmark arrow color*/
	border: solid white;
	border-width: 0 2px 2px 0;
	/*can be done with post css autoprefixer*/
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
}

:root label.checkbox-bootstrap input[type=checkbox]:disabled+span.checkbox-placeholder {
	background: #ececec;
	border-color: #c3c2c2;
}

:root label.checkbox-bootstrap input[type=checkbox]:checked:disabled+span.checkbox-placeholder {
	background: #d6d6d6;
	border-color: #bdbdbd;
}

:root label.checkbox-bootstrap input[type=checkbox]:focus:not(:hover)+span.checkbox-placeholder {
	outline: 1px dotted black;
}

:root label.checkbox-bootstrap.checkbox-lg input[type=checkbox]+span.checkbox-placeholder {
	width: 26px;
	height: 26px;
	border: 2px solid;
	border-radius: 5px;
	/*checkbox border color*/
	border-color: #737373;
}

:root label.checkbox-bootstrap.checkbox-lg input[type=checkbox]:checked+span.checkbox-placeholder:before {
	width: 9px;
	height: 15px;
	/*checkmark arrow color*/
	border: solid white;
	border-width: 0 3px 3px 0;
}

/* Volume Slider */

/* https://codepen.io/emilcarlsson/pres/PPNLPy */

/*
Copyright (c) 2018 by Emil (https://codepen.io/emilcarlsson/pen/PPNLPy)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.volumeSlider {
	/* 	width: 350px;
height: 50px;
position: relative;
margin: 0 auto;
top: 20px; */
	display: flex;
	justify-content: space-evenly;
	width: 250px;
	height: 50px;
	position: relative;
	top: 20px;
}

.volumeSlider i {
	position: absolute;
	margin-top: -6px;
	color: #666;
}

.volumeSlider i.fa-volume-down {
	left: 0;
}

/* hack to add -50% + -8px */

.volumeSlider i.fa-volume-down::before {
	margin-left: -40px;
}

.volumeSlider i.fa-volume-up {
	margin-right: -30px;
	right: 0;
}

.volume {
	height: 5px;
	/*     margin-left: 20px;
margin-right: 20px; */
	width: 100%;
	background: #555;
	border-radius: 15px;
}

.volume .ui-slider-range-min {
	height: 5px;
	width: 300px;
	position: absolute;
	background: #2ecc71;
	border: none;
	border-radius: 10px;
	outline: none;
}

.volume .ui-slider-handle {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #FFF;
	position: absolute;
	margin-left: -8px;
	margin-top: -8px;
	cursor: pointer;
	outline: none;
}