
/* CONNECT WITH GOOGLE BUTTON */

#googleConnectButton {
	display: flex;
	justify-content: space-evenly;
/* 	background: white; */
	color: #444;
	/* 	width: 80px; */
	width: 75px;
	margin-left: 0px;
	margin-right: 5px;
	white-space: nowrap;
}

#googleConnectButton:hover {
	cursor: pointer;
}

span.googleLabel {
	font-family: serif;
	font-weight: normal;
}

span.googleIcon {
	background: url(/images/g-transparent.png) transparent 0px 50% no-repeat;
	width: 32px;
	height: 32px;
}

span.googleButtonText {
	display: flex;
	align-self: center;
	font-size: 14px;
	font-weight: bold;
	/* Use the Roboto font that is loaded in the <head> */
	font-family: "Roboto", sans-serif;
}
