#loggedInIndicator {
	width: 100%;
/* 	border: 1px solid #888;
	border-radius: 5px; */
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: column;
}

.connectWithContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* width: 48%; */
	margin-top: 4px;
	margin-bottom: 4px;
}

.connectWithButton {
	display: flex;
	align-self: center;
	justify-content: space-evenly;
	border: 1px solid #888;
	border-radius: 5px;
	box-shadow: 1px 1px 1px grey;
	text-decoration: none !important;
	color: #282828;
	white-space: nowrap;
	min-height: 40px;
	width: 100%;
	cursor: pointer;
}

.connectWithButton>* {
	display: flex;
	align-self: center;
	color: #282828;
	/* 	max-width: 150px; */
	/* 	padding: 6px; */
}

#twitchLogo {
	/* 	width: 80px; */
	/* 	filter: drop-shadow(3px 3px 2px #333); */
	width: 60px;
	margin-left: 10px;
	margin-right: 10px;
	/*     width: 50px;
margin-left: 5px;
margin-right: 5px; */
	/* 	width: 50px; */
}

#googleLogo {
	width: 80px;
}

#ytLogo {
	width: 80px;
}

#discordLogo {
	width: 80px;
}

#connectWithTwitch {}

#connectWithTwitchButton {}

#connectWithYoutube {}

#connectWithGoogle {}

#connectWithDiscord {}

/* CONNECT WITH GOOGLE BUTTON */

#googleConnectButton {
	display: flex;
	justify-content: space-evenly;
/* 	background: white; */
	color: #444;
	/* 	width: 80px; */
	width: 75px;
	margin-left: 0px;
	margin-right: 5px;
	white-space: nowrap;
}

#googleConnectButton:hover {
	cursor: pointer;
}

span.googleLabel {
	font-family: serif;
	font-weight: normal;
}

span.googleIcon {
	background: url(/images/g-transparent.png) transparent 0px 50% no-repeat;
	width: 32px;
	height: 32px;
}

span.googleButtonText {
	display: flex;
	align-self: center;
	font-size: 14px;
	font-weight: bold;
	/* Use the Roboto font that is loaded in the <head> */
	font-family: "Roboto", sans-serif;
}
