.laglessView {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.videoCanvas {
	/* width: 75%; */
	/* margin-left: 12.5%; */
	width: 73.2%;
	align-self: center;
}

.fullscreen {
	width: 100% !important;
	margin: 0;
	padding: 0;
	border: none;
}
