#logOut {
	width: 30%;
}


#loginArea {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	overflow-y: visible;
	max-height: 44px;
	padding: 3px;
	grid-column: 2;
}

/* #loggedInArea {
	width: 100%;
	border-radius: 4px;
	text-align: center;
	display: flex;
	justify-content: center;
	overflow-y: visible;
	max-height: 44px;
	padding: 3px;
	grid-column: 2;
} */

/* #loginRegister {
	display: flex;
	justify-content: space-evenly;
	max-height: 44px;
	padding: 3px;
	grid-column: 2;
} */

#usernameDropdown {
	align-self: center;
	background: transparent;
}
