#logOut {
	width: 30%;
}

#loggedInArea {
	width: 100%;
	border-radius: 4px;
	text-align: center;
	display: flex;
	justify-content: center;
	/* 	overflow-x: hidden; */
	overflow-y: visible;
	/* margin: 5px; */
	max-height: 44px;
	padding: 3px;
}

#logInRegister {
	display: flex;
	justify-content: space-evenly;
	max-height: 44px;
	padding: 3px;
}

#usernameDropdown {
	align-self: center;
	background: transparent;
}
