/* Volume Slider */

.volumeSlider {
	display: flex;
	justify-content: space-evenly;
	width: 30%;
	min-width: 125px;
	border-radius: 10px;
	align-items: center;
	padding-left: 6px;
	padding-right: 6px;
}

.volumeSlider svg {
	color: #333;
	align-self: center;
	border: 1.2px solid #333;
	border-radius: 4px;
	padding: 1px;
	cursor: pointer;
}

.fa.fa-volume-down {
	padding-left: 7px;
	padding-right: 7px;
}
